@{
    Layout = "_Layout";  
}

@model Tamagotchi.Models.Pet

<h1>Your Pets</h1>
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Life): @Html.DisplayFor(model => model.Life)</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Kill" />
}

@using (Html.BeginForm())
{
     @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Feed me" />
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Play with me" />
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Delete" />
}
<h3>@Html.ActionLink("View all pets", "Index")</h3>
<h3>@Html.ActionLink("Kill pet", "Edit")</h3>